body {
    background-color: blue;
    text-align: center;
    color: black;
}
.box {
    margin: auto;
    padding: 5%;
    height: 80%;
    width: 80%;
    background-color: yellow;
    border-radius: 33px;
}
img {
    height: 80%;
    width: 80%;
}